#gameboard div {
	padding: 0px;
	border: 1px solid green;
}

#gameboard {
	display: table;
	margin: auto;
}

#gameboard .row {
	display: table-row;
}

#gameboard .cell {
	display: table-cell;
	width: 15px;
	height: 15px;
}

#gameboard .cell:hover {
	background-color: red !important;
}