#gameboard div {
	padding: 0px;
	border: 1px solid black;
}

#gameboard {
	display: table;
	margin: auto;
}

#gameboard .row {
	display: table-row;
}

/* all divs inside class .row are cells! */
#gameboard .row div {
	display: table-cell;
	width: 15px;
	height: 15px;
}

#gameboard .row div:hover {
	background-color: Red !important;
}

#gameboard .empty_cell {
	background-color: white;
}

#gameboard .food_cell {
	background-color: Magenta;
}
#onlineplayers {
	float: left;
	width: 20%;
	height: 430px;
}

input{
	background-color:  white;
}


button{
	background-color:  #FAFAFA;
}

#game {
	float: left;
	width: 60%;
	height: 430px
}
#rankings {
	float: left;
	width: 20%;
}

.superfood_cell {
	background-color: Black;
}

.worm_1_cell {
	background-color: Blue;
}

.worm_2_cell {
	background-color: ForestGreen;
}

.worm_3_cell {
	background-color: MediumVioletRed;
}

.worm_4_cell {
	background-color: Gold;
}

#players {
	width: 230px;
	float: right;
}

.playerinfo {
	width: 100px;
	border: 2px solid black;
	padding: 5px;
	margin: 5px auto;
}

.playercolor {
	height: 15px;
	width: 100%;

}

.playername {
	text-align: center;
	font-style: italic;
}

.playerscore {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.playerstatus {
	text-align: center;
	font-size: 12px;
}

#gamecontrols {
	display: none;
	width: 100px;
	float: left;
	text-align: center;
	border: 2px solid black;
	margin: 15px;
}

#gamecontrols button {
	margin: 5px;
}

#rankings{ 
	text-align: left; 
	height: 430px;
}

a {
	color: blue;
}

fieldset{ 
	background-color: #E6E6E6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height: inherit;
}

legend{ 
    border:1px solid black;
    background-color: #FAFAFA;
}

body {
	background-color: black;
}

